*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.logo{
    width: 100px
}

.logo img{
    width: 100%
}

.nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.na{
    display: flex;
    gap: 20px;
    list-style-type: square;

    margin-top: 50px;
    
}


.nav ul a{
    text-decoration: none;
}



.pin ol {
    display: flex;
    list-style-type: none;
    gap: 5px;
}


header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    color:blueviolet;
    padding: 10px 0px 10px 0px;
    margin-bottom: 30px;
    
    
}
/* content area here */

.banner{
    display: block;
    margin-left: 240px;
    margin-right: 50px;
    width: 50%;
}

body {
    margin: 0;
    padding: 0;
}

.name {
    display: block;
    margin-left: 240px;
    margin-right: 50px;
    width: 50%;
    text-align: justify;
}


main {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* main content */
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.yes{
    margin: 0%;
    color: blueviolet;
}

.no{
    margin-top: 3px;
    color: navy;
    font-size: 25px;
}

.txt{
    margin-top: 5px;
    font-size: 14px;
}

.nono{
    margin-top: 3px;
    font-size: 25px;
}

.txtxt{
    margin-top: 5px;
    font-size: 14px;
}

.wrk{
    margin-top: 5px;
    font-size: 14px;
}

.pic{
    display: block;
    margin-top: 35px;
    margin-left: 260px;
    margin-right: 50px;
    width: 50%;
}

.map{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}